
*.lock

Temp/

ConfigurationSettings/Settings.xml

ConfigurationSettings/db$local$Settings.xml

WritingSystemStore/byn-fonipa.ldml

WritingSystemStore/de.ldml

ConfigurationSettings/Settings.xml

WritingSystemStore/idchangelog.xml

SharedSettings/

WritingSystemStore/kzq.ldml

WritingSystemStore/en.ldml
